@import "../../asset/scss/utility";

.start {
  @include inverse-container;
  display: grid;
  grid-gap: 4px;
  grid-template:
    'content' auto
    'how' auto
    'why' auto
    'external' auto;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;

  @include break(mobile) {
    grid-gap: 2px;
    grid-template:
      'content content' auto
      'how how' auto
      'why external' auto
      / 2fr 1fr;
  }

  @include break(tablet-l) {
    grid-template:
      'slider content content' 1fr
      'external how why' auto
      / 2fr 3fr 3fr;
  }

  &-cell {
    padding: calc(1rem + 2.5%) calc(1rem + 0.5vw);
    position: relative;
    z-index: 10;

    @include break(tablet) {
      padding:
        calc(1rem + 5vw)
        calc(1rem + 5vw)
        calc(1rem + 4.5vw);

    }

    @include break(tablet-l) {
      padding:
        calc(1rem + 9.5%)
        calc(1rem + 3vw)
        calc(1rem + 10%);
    }

    &.-secondary {
      background: $color-inverse-base-secondary;
    }

    &-text {
      color: $color-inverse-soft;
      margin-left: auto;
      margin-right: auto;
      max-width: 350px;
      width: 100%;

      .-secondary & {
        margin-left: 0;
        margin-right: 0;
        margin-left: 0 !important;
        max-width: 550px;

        @include break(tablet-l, max) {
        }
      }

      @include break(tablet-l) {
        margin-left: 0;
        margin-right: 0;

        .-secondary & {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    img {
      vertical-align: bottom;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    grid-area: content;
    padding-bottom: calc(1.25rem + 1.5vmax);
    padding-top: calc(1.25rem + 1.5vmax);
    text-align: center;

    @include break(tablet-l) {
      display: grid;
      grid-gap: calc(1.25rem + 1.5vmax) 3px;
      grid-template:
        '_ demo' 0.4fr
        'wrap demo' auto
        'interactive demo' 1fr
        / minmax(40%, 1fr) 1fr;
      text-align: left;
    }

    &-wrap {
      @include break(tablet-l) {
        grid-area: wrap;
      }
    }

    &-demo {
      box-shadow:
        0 3px 4px rgba(#000, 0.1),
        0 10px 50px rgba(#000, 0.2);
      grid-area: demo;
      margin: $spacing-medium auto 0;
      max-width: 275px;
      order: 3;
      width: 100%;

      .-is-registering & {
        @include break(mobile, max) {
          display: none;
        }
      }

      @include break(mobile) {
        margin-bottom: $spacing-small;
      }

      @include break(tablet-l) {
        align-self: center;
        max-width: 320px;
      }

      .demo-placeholder {
        background: white;
        padding-bottom: 140%;
        width: 100%;
      }
    }

    .start-cell-text:last-of-type {
      @include break(mobile, max) {
        @include visually-hidden;
      }
    }

    > * {
      background: $color-inverse-base;
    }

    .button-group {
      background: transparent;
      margin-top: $spacing-large;
      order: 4;

      @include break(tablet-l) {
        margin: 0;
      }
    }

    &::before {
      background: repeating-linear-gradient(
        $color-inverse-border 0,
        $color-inverse-border 15px,
        transparent 15px,
        transparent 30px
      );
      bottom: 0;
      content: '';
      left: 50%;
      margin-left: -2px;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 4px;
      z-index: -1;

      @include break(tablet-l) {
        content: none;
      }
    }
  }

  &-interactive {
    background: transparent;
    grid-area: interactive;
  }

  &-interactive, &-content-wrap {
    @include break(tablet-l) {
      padding-right: inherit;
    }
  }

  &-slider {
    display: none;

    @include break(tablet-l) {
      display: block;
      grid-area: slider;
    }
  }

  &-how {
    grid-area: how;
  }

  &-why {
    grid-area: why;
  }

  &-external {
    align-items: center;
    display: flex;
    grid-area: external;

    @include break(mobile, max) {
      min-height: 50vw;
    }

    &-link {
      @include absolute;
      color: transparent;
      text-indent: -9999em;

      &:hover, &:focus {
        background: darken($color-inverse-base-secondary, 5%);
        outline: 0;
      }
    }

    &-logo {
      display: block;
      height: 3rem;
      margin: auto;
      max-height: none;
      pointer-events: none;
      position: relative;
      width: 3rem;
      z-index: 20;
    }
  }

  &-title {
    background: transparent;
    margin-bottom: 0.35em;
  }
}
