@import "../../../asset/scss/utility";

$padding: 5px;
$border-width: 4px;

@mixin slider-transition($property: all) {
  transition: $property 0s;
}

.slider {
  left: 0;
  position: absolute;
  right: 0;
  top: -$border-width;

  &-input {
    box-sizing: content-box;
    cursor: pointer;
    height: $border-width;
    left: 0;
    opacity: 0;
    padding: $padding 0;
    position: absolute;
    top: $border-width / 2;
    transform: translateY(-50%);
    width: 100%;
    z-index: 3;

    &::-webkit-slider-thumb {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &-mirror {
    align-items: center;
    display: flex;
    position: relative;

    &-wrap {
      height: 100%;
      left: $padding;
      position: absolute;
      right: $padding;
      top: 0;
    }
  }

  &-line {
    background: $color-border;
    display: block;
    height: $border-width;
    position: relative;
    width: 100%;
    z-index: 1;

    &-fill {
      @include slider-transition(transform);
      background: $color-focus;
      display: block;
      height: inherit;
      transform: scaleX(0);
      transform-origin: center left;
      width: 100%;
    }
  }

  &-thumb {
    @include circle($border-width * 2 + 2, $color-focus);

    &-position {
      @include slider-transition(transform);
      align-items: center;
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    &-wrap {
      position: relative;
      transform: translateX(-50%);
    }
  }
}
