// environment variables

$domain:        'https://';

// Asset paths
$asset-path:    '../../';
$fonts-path:    $asset-path + 'fonts/';
$icons-path:    $asset-path + 'icons/';
$img-path:      $asset-path + 'img/';
