// layout variables

$container-width:         100%;
$container-narrow-width:  550px;

$spacing-x-small:         0.75rem;
$spacing-small:           0.875rem;
$spacing-base:            0.9rem;
$spacing-medium:          1.25rem;
$spacing-large:           1.875rem;
$spacing-x-large:         3rem;

// relative layout spacings
$padding-x:               1.25rem;
$padding-section:         4rem;
$padding-section-large:   10rem;

$border-radius: 3px;
$border-radius-large: 1.25em;
