%card-input {
  border: 2px solid transparent;
  border-radius: $border-radius;
  display: inline-block;
  padding: 3px 1px;
  margin: -4px -5px 0;
  margin-right: 0;
  transition: background-color transition(ease);

  &:hover, &:focus, &:focus-within {
    border-color: $color-input-focus-bg;
  }

  &:hover {
    border-style: dashed;
  }

  &:focus, &:focus-within, &:active {
    background: $color-input-focus-bg;
  }
}
