// Container placeholders and mixins for generating

@mixin container($max-width: $container-width, $padding-x: $padding-x, $padding-y: 0) {
  margin: 0 auto;
  max-width: $max-width;
  overflow: auto;
  padding: $padding-y $padding-x;
  position: relative;
  width: 100%;
}

@mixin fullscreen {
  height: 100%;
  width: 100%;
}

@mixin pos-a($t: auto, $l: auto, $r: auto, $b: auto) {
  bottom: $b;
  left: $l;
  position: absolute;
  right: $r;
  top: $t;
}

@mixin absolute {
  @include pos-a(0,0,0,0);
}

@mixin section {
  padding-bottom: $padding-section;
  padding-top: $padding-section;
}

%container {
  @include container($padding-y: $spacing-large);
}

%container-narrow,
%narrow-container {
  @include container($container-narrow-width);
}

@mixin inverse-container {
  background: $color-inverse-base;
  color: $color-inverse-text;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;

    &.-secondary {
      color: $color-inverse-soft;
    }
  }

  %subline {
    color: $color-inverse-soft;
  }

  .button {
    color: $color-inverse-text;

    &:not(.-primary) {
      background: darken($color-inverse-base, 10%);

      &:hover, &:focus {
        background: darken($color-inverse-base, 17%);
        transform: none;
      }

      &:active {
        background: darken($color-inverse-base, 7%);
      }
    }

    &.-primary {
      background-color: $color-inverse-text;
      border-color: $color-inverse-text;
      color: $color-inverse-base;
    }
  }

  .text-soft {
    color: $color-inverse-soft;
  }
}

%inverse, %inverse-container {
  @include inverse-container;
}

.visually-hidden {
  @include visually-hidden;
}
