@import "../../../asset/scss/utility";

.card-value {
  align-items: baseline;
  color: $color-focus;
  display: flex;
  flex: 1;
  font-size: $fs-x-large;
  font-weight: $fw-headlines;
  margin: 0;

  .unit {
    margin-left: 0;

    &.-toggle {
      height: 100%;
      margin-left: 1px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.card-number {
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4px;
  }

  &-input {
    @extend %card-input;
    color: inherit;
    line-height: 1;
    flex: 0 0 auto;
    font: inherit;

    input {
      color: inherit;
      line-height: 1;
      display: block;
    }

    &.-untouched {
      color: rgba($color-focus, 0.5);
    }
  }

  &-actions {
    flex: 0 0 auto;
  }

  &-action {
    align-items: center;
    background: $color-primary-light;
    border-radius: 2em;
    color: $color-primary;
    cursor: pointer;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    transition: 0.2s ease;
    vertical-align: bottom;
    width: 2.5em;

    &:hover, &:focus {
      background: $color-primary-soft;
    }

    & + & {
      margin-left: $spacing-x-small;
    }

    .icon {
      height: auto;
      width: 0.875em;
    }
  }
}
